@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Oxygen&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Work+Sans&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap');

body {
        padding: 0;
        font-family: 'Oxygen', sans-serif;
        color: #fff;
        background-color: #161719;
}
i {
    cursor: pointer;
    margin: 5px;
}
nav {
    padding: 10px;
}
#main {
    display: flex;
}
#main aside {
    padding: 10px;
}
#main section {
display: block;
padding: 10px;
width: 100%;
}