body {
    padding: 10px;
    
}
i {
    margin: 5px;
}
#main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
#main div {
    width: 50vw;
}
#clipboard {
    border: none;
    resize: none;
    margin: 4px;
    padding: 4px;
    display: block;
    border-radius: 3px;
    width: 50vw;
    border: 2px solid #dadada;
    border-radius: 3px;
}

#clipboard:focus {
    outline: none;
    border-color: #9ecaed;
    box-shadow: 0 0 10px #9ecaed;
}
#topBar {
    display: flex;
    justify-content: space-between;
}
#topBar span {
    white-space: nowrap;
}
#status, #device {
    display: block;
    width: 50vw;
    
}
#qrDiv {
    margin-top: 10px;
}
@media screen and (max-width:800px) {
    #clipboard, #device, #status, #main div {
        width:90vw;
    }
}